body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
    font-weight: 400;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 75px;
    background-color: #E8B298;
    font-family: "Poppins";
}

.header a {
    text-decoration: none;
    color: #A36361;
    margin: 5px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: "Abril Fatface";
   }

.logo-img {
    width: 90px;
}

.links a {
    text-decoration: none;
    color: #FEEAD4;
    margin: 16px;
}

.icon {
    display: none;
}

.cta {
    background-color: #A36361;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    margin-left: 32px;
    color: white;
    transition-duration: 0.4s;
    font-family: "Poppins";
}

.cta:hover {
    background-color: #FEEAD4;
    color: #A36361;
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.main {
    padding: 50px 150px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* homepage css */

.top-row {
    display: flex;
    justify-content: flex-end;

}

.add-habit {
    padding: 10px 25px;
    border-radius: 20px;
    background-color: #EECC8C;
    color: #283E50;
    border: none;
    transition-duration: 0.4s;
    font-family: "Poppins";
}

.add-habit:hover {
    cursor: pointer;
    background-color: #D3A29D;
    color: white;
    font-weight: 500;
}


.main-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    flex-shrink: 0;
}

.calendar-days, .calendar-dates {
    display: flex;
    justify-content: space-evenly;
}

.habit-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.habit, .habit2, .habit3 {
    margin: 20px;
    height: 50px;
    padding: 20px;
}

.habit {
    background-color: #BDD1C5;
}

.habit2 {
    background-color: #D3A29D;
}

.habit3 {
    background-color: #9EABA2;
}

.right-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.streak {
    background-color: #feead4a0;
    color: #283E50;
    border-radius: 10px;
    width: 200px;
    padding: 20px;
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.streak p {
    font-size: 30px;
    font-weight: 700;
    margin: 10px;
}


.journal-nav {
    background-color: #feead4a0;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    padding: 20px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

textarea {
    resize: none;
    height: 75%;
    width: 90%;
    background-color: #feead4a0;
    border: none;
    font-family: "Poppins";
    padding: 10px;
    margin-bottom: 10px;
  }

.journal-nav button {
    padding: 10px 25px;
    border-radius: 20px;
    background-color: #EECC8C;
    border: none;
    color: #283E50;
    transition-duration: 0.4s;
}

.journal-nav button:hover {
    background-color: #D3A29D;
    color: white;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: flex-end;
    background-color: #E8B298;
    color: #A36361;
    padding: 10px 15px;
    font-weight: 600;
    font-size: small;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
}

/* responsive design */
@media screen and (max-width: 850px) {
    .header {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .logo-img {
        width: 25%;
    }

    .logo-img-link {
        display: none;
    }
    
    .logo {
        font-size: 15px;
        display: flex;
        justify-content: center;
    }

    .navigation {
        font-size: 12px;
        display: flex;
        flex-shrink: 1;
    }
    
    .main {
        width: 100%;
        margin: 0;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

}
@media screen and (max-width: 370px) {
    .links a:not(:first-child) {display: none;}
    .links a {
      display: block;
      font-size: 20px;
    }
  }

/* about page css */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socials img {
    height: 75px;
}


/* journal page css */

.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.title-label {
    color: white;
    background-color: #A36361;
    margin: 10px; 
    padding: 10px 50px;
}

#entry-title {
    width: 300px;
    margin: 10px;
    padding: 5px;
}

.entry-label {
    color: white;
    background-color: #A36361;
    margin: 10px; 
    padding: 10px 50px;
}

#journal-entry {
    height: 300px;
    margin: 10px;
    font-family: "Poppins";
    overflow: scroll;
    padding: 10px;
    background-color: #feead4a0;
}

.submit-entry {
    padding: 10px 25px;
    width: 100px;
    border-radius: 20px;
    background-color: #EECC8C;
    border: none;
    color:#283E50;
    transition-duration: 0.4s;
    font-family: "Poppins";
}

.submit-entry:hover {
    cursor: pointer;
    background-color: #F6D8A0;
}

/* inspiration css */
.inspiration-main {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.inspiration-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 400px;
    height: 400px;
    margin-top: 100px;
}
