body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 75px;
    background-color: #283E50;
}

.header a {
    text-decoration: none;
    color: #9AD0C3;
    margin: 16px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 200;
   }

.logo-img {
    width: 90px;
}

.links a {
    text-decoration: none;
    color: #FEEAD4;
    margin: 16px;
}

.icon {
    display: none;
}

.cta {
    background-color: #9AD0C3;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    margin-left: 32px;
    color:#283E50;
    transition-duration: 0.4s;
}

.cta:hover {
    background-color: #EECC8C;
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.main {
    padding: 50px 150px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    }

/* homepage css */

.top-row {
    display: flex;
    justify-content: flex-end;

}

.add-habit {
    padding: 10px 25px;
    border-radius: 20px;
    background-color: #EECC8C;
    border: none;
    color:#283E50;
    transition-duration: 0.4s;
}

.add-habit:hover {
    cursor: pointer;
    background-color: #F6D8A0;
}


.habit-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 300px;
    flex-shrink: 0;
}

.calendar-days, .calendar-dates {
    display: flex;
    justify-content: space-evenly;
}

.right-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.streak {
    background-color: #feead4a0;
    color: #283E50;
    border-radius: 10px;
    width: 200px;
    padding: 20px;
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.streak p {
    font-size: 30px;
    font-weight: 700;
    margin: 10px;
}

.journal-nav {
    background-color: #feead4a0;
    color: #283E50;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    padding: 20px;
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.journal-nav button {
    padding: 10px 25px;
    border-radius: 20px;
    background-color: #EECC8C;
    border: none;
    color:#283E50;
    transition-duration: 0.4s;
}

.journal-nav button:hover {
    cursor: pointer;
    background-color: #F6D8A0;
}
.footer {
    display: flex;
    justify-content: flex-end;
    background-color: #283E50;
    color:#9AD0C3;
    padding: 10px 15px;
    font-weight: 600;
    font-size: small;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
}

/* responsive design */
@media screen and (max-width: 800px) {
    .header {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .logo-img {
        width: 25%;
    }
    .logo {
        font-size: 15px;
        display: flex;
        justify-content: center;
    }

    .navigation {
        font-size: 12px;
        display: flex;
        flex-shrink: 1;
    }
    
    .main {
        width: 100%;
        margin: 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
    }
.journal-nav {
    display: none;
}
}
@media screen and (max-width: 370px) {
    .links a:not(:first-child) {display: none;}
    .links a {
      display: block;
      font-size: 20px;
    }
  }
/* about page css */


/* journal page css */

.entry {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.title-label {
    color: #9AD0C3;
    background-color: #283E50;
    margin: 10px; 
    padding: 10px;
}

#entry-title {
    width: 300px;
    margin: 10px;
    padding: 5px;
    font-family: "Raleway";
}

.entry-label {
    color: #9AD0C3;
    background-color: #283E50;
    margin: 10px; 
    padding: 10px;
}

#journal-entry {
    height: 300px;
    margin: 10px;
    font-family: "Raleway";
    overflow: scroll;
    padding: 10px;
}

.submit-entry {
    padding: 10px 25px;
    width: 100px;
    border-radius: 20px;
    background-color: #EECC8C;
    border: none;
    color:#283E50;
    transition-duration: 0.4s;
    margin-left: auto;
}

.submit-entry:hover {
    cursor: pointer;
    background-color: #F6D8A0;
}

/* inspiration css */
.inspiration-main {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.inspiration-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 400px;
    height: 400px;
    margin-top: 100px;
}
