body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    justify-content: space-between;
    color: #9AD0C3;
    padding: 10px 75px;
    background-color: #283E50;
}

.logo-img {
    width: 100px;
}

.logo {
    display: flex;
    align-items: center;
    
}

.links a {
    text-decoration: none;
    color: #9AD0C3;
}

.cta {
    background-color:#FEEAD4;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    margin-left: 50px;
    color:#283E50;
    transition-duration: 0.4s;
}

.cta:hover, .addHabit:hover {
    background-color: #EECC8C;
    color: white;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav, .main {
    display: flex;
    justify-content: center;
}

.nav {
    margin: 50px 25px;
}

h1 {
    text-align: center;
    width: 500px;
    border: none;
    display: inline-block;

}

.addHabit {
    padding: 10px 25px;
    border-radius: 20px;
    background-color: #EECC8C;
    border: none;
}


.streak {
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    padding: 20px;
    margin-left: 50px;
}
.days, .dates {
    display: flex;
    width: 600px;
}

p {
    flex: 1;
    text-align: center;
    margin: 0;

}